<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Logfile.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

  <appSettings>
<!--
<appSettings>
    <add key="CriterionConfig" value="
[
  {
    'Name': 'Stars',
    'IndexInFilename': 2,
    'Mandatory': 1
  },
  {
    'Name': 'Actor',
    'IndexInFilename': 1,
    'Mandatory': 1
  }
]"/>
  </appSettings>
-->
    <add key="CriterionConfig" value="
[
]"/>
    <add key="VideoFilesBasePath" value="P:\Filme\Filme"/>
    <add key="VLCLocation" value="P:\portableApps\VLCPortable\vlc.exe"/>
    <add key="FFmpegLocation" value="P:\portableApps\FFmpeg\ffmpeg.exe"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
